@import "tailwindcss";

@theme {
  --color-electric-400: #FBBF24;
  --color-electric-500: #F59E0B;
  --color-electric-600: #D97706;
}

body {
  background-color: #ffffff;
  color: #111827;
  font-family: ui-sans-serif, system-ui, sans-serif;
}